/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #ffffff;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}
header ul{
    display: flex;
    font-size: 1.2rem;
    justify-content: right;
    padding: 1rem;
    align-items: center;
}
header ul li{
    margin: 0.5rem;
    
}

main{
    height: 78.8rem;
}
nav img{
    display:block;
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 13rem;
}
nav form input{
    margin: auto;
    width: 55rem;
    display: block;
    height: 4.2rem;
    border-radius: 3rem;
    border: solid rgb(177, 177, 177) .1rem;
    padding: 2rem;
}
nav form input:hover{
    box-shadow: 0rem 0rem .5rem 0rem rgb(156, 156, 156);
}
.bouton ul{
    display:flex;
    justify-content: center;
    
}
.bouton li{
    margin: 1rem;

}
.bouton ul li input{
    padding: 1rem 1rem;
    border-radius: .5rem;
    border: none;
    background: #f4f4f4;
}
.bouton ul li input:hover{

    box-shadow: 0rem 0rem .3rem 0rem rgb(156, 156, 156);
    background: #ebebeb;
}
.english{
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1rem;
}
footer{
    background-color: rgb(243, 243, 243);
    color:rgb(75, 75, 75);
    margin: 0 auto;
    padding: 2rem 0 2rem 0;
    font-size: 1.4rem;
}
footer ul{
    display: flex;
    justify-content: space-between;
}
footer ul li a{
    padding: 1rem;
}
footer p{
    padding-left: 1rem;
}